*.d
*.o
/Game/inv
/Game/leave
/Game/myshell0
/Game/view
/Game/cd
/Game/pickUp
/Game/Use
/Game/pwd
/Game/chmod
/Game/use
/Game/talk
/Game/check
/Game/pickup
/Game/man
/Game/StoreMoves
/Game/Directories
/Game/assets/roomVisitedCounter/*
/Game/assets/save.txt
BANK-ROBBER-RUN
